*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.vcxproj
*.user
*.filters
main
memcheck.sh
.*
*.vcxproj
*.filters
*.user
*.obj
*.lastbuildstate
*.idb
*.pdb
*.log
Debug/*
/Debug
cmake
*.out
gmon.out
build/
*[#]
*~
/libtest.cpp

*.tlog
*.xml